USE [CEW]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		CHOI
-- Create date: 2016.09.06
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[rpt_bi_dashboard_rce_report]
@date_begin		date = null,
@date_end		date = null
AS
DECLARE
@total_rce_e			numeric(9,2) = 0,
@total_rce_deleted_e	numeric(9,2) = 0,
@total_rce_inactive_e	numeric(9,2) = 0,
@total_rce_enrolled_e	numeric(9,2) = 0,
@total_rce_cancelled_e	numeric(9,2) = 0,

@total_rce_a			numeric(9,2) = 0,
@total_rce_deleted_a	numeric(9,2) = 0,
@total_rce_inactive_a	numeric(9,2) = 0,
@total_rce_enrolled_a	numeric(9,2) = 0,
@total_rce_cancelled_a	numeric(9,2) = 0
BEGIN
	
	SET NOCOUNT ON;

	select	@total_rce_e = sum(isnull(a.total_est_rce, 0)),
			@total_rce_a = sum(isnull(a.total_rce, 0))
	from	enroll_customer_site a,
			enroll_customer a0,
			enroll_customer_site_contract a1
	where	a.enroll_customer_id = a0.enroll_customer_id and
			a.enroll_contract_id = a1.enroll_contract_id and
			(@date_begin is null or @date_begin <= a1.sign_date) and
			(@date_end is null or a1.sign_date <= @date_end)
	
	select	@total_rce_deleted_e = sum(isnull(a.total_est_rce, 0)),
			@total_rce_deleted_a = sum(isnull(a.total_rce, 0))
	from	enroll_customer_site  a,
			enroll_customer a0,
			enroll_customer_site_contract a1
	where	a.enroll_customer_id = a0.enroll_customer_id and
			a.enroll_contract_id = a1.enroll_contract_id and
			a.enroll_site_status = 'C' and
			(@date_begin is null or @date_begin <= a1.sign_date) and
			(@date_end is null or a1.sign_date <= @date_end)
	
	select	@total_rce_inactive_e = sum(isnull(a.total_est_rce, 0)),
			@total_rce_inactive_a = sum(isnull(a.total_rce, 0))
	from	enroll_customer_site a,
			enroll_customer a0,
			enroll_customer_site_contract a1
	where	a.enroll_customer_id = a0.enroll_customer_id and
			a.enroll_contract_id = a1.enroll_contract_id and
			a0.enroll_customer_status = 'I' and
			a.enroll_site_status = 'I' and
			(@date_begin is null or @date_begin <= a1.sign_date) and
			(@date_end is null or a1.sign_date <= @date_end)
	
	select	@total_rce_enrolled_e = sum(isnull(a.total_est_rce, 0)),
			@total_rce_enrolled_a = sum(isnull(a.total_rce, 0))
	from	enroll_customer_site a,
			enroll_customer a0,
			enroll_customer_site_contract a1,
			edi_site_download b
	where	a.enroll_customer_id = a0.enroll_customer_id and
			a.enroll_contract_id = a1.enroll_contract_id and
			a.enroll_site_id = b.site_id and
			a0.enroll_customer_status in ('X', 'I', 'U', 'C', 'D', 'Z') and
			a.enroll_site_status in ('G', 'X', 'Y') and
			b.status_code = 'AER' and
			(@date_begin is null or @date_begin <= b.status_date) and
			(@date_end is null or b.status_date <= @date_end)  	
			
	select	@total_rce_cancelled_e = sum(isnull(a.total_est_rce, 0)),
			@total_rce_cancelled_a = sum(isnull(a.total_rce, 0))
	from	enroll_customer_site a,
			enroll_customer a0,
			enroll_customer_site_contract a1,
			edi_site_download b
	where	a.enroll_customer_id = a0.enroll_customer_id and
			a.enroll_contract_id = a1.enroll_contract_id and
			a.enroll_site_id = b.site_id and
			a0.enroll_customer_status in ('X', 'I', 'U', 'C', 'D', 'Z') and
			a.enroll_site_status = 'Z' and
			b.status_code = 'ACR' and
			(@date_begin is null or @date_begin <= b.cancel_date) and
			(@date_end is null or b.cancel_date <= @date_end)
	
	select	total_rce_e = @total_rce_e,
			total_rce_deleted_e = @total_rce_deleted_e,
			total_rce_inactive_e = @total_rce_inactive_e,
			total_rce_enrolled_e = @total_rce_enrolled_e,
			total_rce_cancelled_e = @total_rce_cancelled_e,
						
			total_rce_a = @total_rce_a,
			total_rce_deleted_a = @total_rce_deleted_a,
			total_rce_inactive_a = @total_rce_inactive_a,
			total_rce_enrolled_a = @total_rce_enrolled_a,
			total_rce_cancelled_a = @total_rce_cancelled_a
	into	#bi_dashboard_rce_summary
	
	select	a.*,
			net_rce_e = total_processed_e - total_rce_cancelled_e,
			net_rce_a = total_processed_a - total_rce_cancelled_a
	from	(
				select	*,
						total_processed_e = total_rce_e - (total_rce_inactive_e + total_rce_deleted_e),
						total_processed_a = total_rce_a - (total_rce_inactive_a + total_rce_deleted_a)
				from	#bi_dashboard_rce_summary
			) a

END
